In [5]:
from sqlalchemy import create_engine, text
from sqlalchemy.engine import URL
import pandas as pd
import re

In [6]:
# # connection into cloud db (central)
def cloud_connection():
    url = URL.create(
    "postgresql+psycopg2",
    username="irfan_admin",
    password="TradeAPP_IA_2026@",
    host="95.216.148.216",
    port=5432,
    database="trade_app",
)

    engine = create_engine(url, pool_pre_ping=True)

    with engine.connect() as conn:
        print('========|',conn.execute(text("SELECT current_user, current_database()")).fetchone(),'|========')

    print('*** ✅ SUCCESSFUL CLOUD CONNECTION ⛓️ ***')
    
    return engine

engine = cloud_connection()

========| ('irfan_admin', 'trade_app') |========
*** ✅ SUCCESSFUL CLOUD CONNECTION ⛓️ ***

In [8]:
# needs to read correct column names from cloud db
def read_sql_case_safe(engine, query: str):

    q = query.strip().rstrip(";")
    m = re.match(r'(?is)^\s*select\s+(?P<select>.+?)\s+from\s+(?P<table>[A-Za-z0-9_]+)\s*(?P<rest>.*)$', q)
    if not m:
        # tanıyamazsa aynen çalıştır
        return pd.read_sql_query(query, engine)

    select_part = m.group("select").strip()
    table = m.group("table").strip()
    rest = m.group("rest") or ""

    # tablonun gerçek kolon adlarını çek
    cols = pd.read_sql_query(text("""
        SELECT column_name
        FROM information_schema.columns
        WHERE table_schema='public' AND table_name=:t
        ORDER BY ordinal_position
    """), engine, params={"t": table})["column_name"].tolist()

    # kolonu case-insensitive eşle
    col_map = {c.lower(): c for c in cols}

    if select_part == "*":
        fixed_select = "*"
    else:
        raw_cols = [c.strip() for c in select_part.split(",")]
        fixed_cols = []
        for rc in raw_cols:
            # fonksiyon/alias gibi şeyler varsa dokunmayalım
            if re.search(r'\(|\)|\s+as\s+|\s', rc, flags=re.I):
                fixed_cols.append(rc)
                continue

            real = col_map.get(rc.lower())
            if real:
                fixed_cols.append(f'"{real}"')
            else:
                fixed_cols.append(rc)
        fixed_select = ", ".join(fixed_cols)

    fixed_query = f'SELECT {fixed_select} FROM "{table}" {rest}'.strip()
    return pd.read_sql_query(fixed_query, engine)

In [14]:
import re
from sqlalchemy import text

def fn_read_data_cloud(schema, table_name, attributes=None):
    # table name validation
    if not re.fullmatch(r"[A-Za-z0-9_]+", table_name):
        raise ValueError("Invalid table name")
    if not re.fullmatch(r"[A-Za-z0-9_]+", schema):
        raise ValueError("Invalid schema name")
        
    # select cols
    if attributes is None:
        cols = '*'
    else:
        # kolon validation + quoting
        safe_cols = []
        for col in attributes:
            if not re.fullmatch(r"[A-Za-z0-9_]+", col):
                raise ValueError(f"Invalid column name: {col}")
            safe_cols.append(f'"{col}"')
        cols = ', '.join(safe_cols)
        
    # schema ve tablo ayrı ayrı tırnaklanmalı
    query = f'SELECT {cols} FROM "{schema}"."{table_name}"'
    
    return read_sql_case_safe(engine, query)

In [10]:
def fn_write_cloud(df, schema, name, if_exists,is_only_distinct = False,dist_col=None):
    #add/create direct
    if is_only_distinct == False:
        df.to_sql(name=name, con=engine,schema=schema, if_exists=if_exists, index=False)
    
    # check dist col, if dist, then append
    elif is_only_distinct == True:
        lst_exist_rows = list(fn_read_data_cloud(table_name=name)[dist_col])
        if dist_col not in lst_exist_rows:
            df_dist = df[~df[dist_col].isin(lst_exist_rows)]
            df_dist.to_sql(name=name, con=engine,schema=schema, if_exists='append', index=False)
            print(f'distinct data count {len(df_dist)} | COL: {name}')

In [11]:
def create_schema(schema_name, engine=engine):

    if not re.fullmatch(r"[A-Za-z0-9_]+", schema_name):
        raise ValueError("Invalid schema name")

    schema_name_clean = schema_name.lower()

    with engine.begin() as conn:

        # case-insensitive kontrol
        exists = conn.execute(
            text("""
                SELECT schema_name
                FROM information_schema.schemata
                WHERE lower(schema_name) = lower(:schema_name)
            """),
            {"schema_name": schema_name_clean}
        ).scalar()

        if exists:
            raise ValueError(f"Schema '{exists}' already exists")

        # her zaman lower-case oluştur (PostgreSQL best practice)
        conn.execute(
            text(f'CREATE SCHEMA "{schema_name_clean}"'))

In [16]:
fn_read_data_cloud('source','BIAS')

,TICKER,INTERVAL,RANGE,START_DATETIME,HIGH_DATETIME,HIGH_VALUE,HIGH_ROW_ID,END_DATETIME,ROW_COUNT_AFTER_HIGH,FRVP_JSON,...,PRICE_BIN,VAL_PERC,ROW_ID_FRVP,RUNTIME,FRVP_VWAP,FRVP_SKEW,FRVP_PEAKS,FRVP_STATE,TREND_BIAS,TREND_SCORE
0,ULKER.IS,daily,1mounth,2026-01-06 00:00:00.000000,2026-02-04 00:00:00+03:00,139.500000,ID_ULKER.IS_20260204_0000_daily,2026-02-05 00:00:00.000000,2,"{""134.0"": 1799910.942857143, ""135.0"": 1799910....",...,1.0,0.68,ID_ULKER.IS_20260204_0000_daily_1mounth,None,135.973825,0.752079,0,BALANCED,0,0.251247
1,ULKER.IS,daily,3mounth,2025-11-07 00:00:00.000000,2026-02-04 00:00:00+03:00,139.500000,ID_ULKER.IS_20260204_0000_daily,2026-02-05 00:00:00.000000,2,"{""134.0"": 1799910.942857143, ""135.0"": 1799910....",...,1.0,0.68,ID_ULKER.IS_20260204_0000_daily_3mounth,None,135.973825,0.752079,0,BALANCED,0,0.251247
2,ULKER.IS,daily,6mounth,2025-08-09 00:00:00.000000,2026-02-04 00:00:00+03:00,139.500000,ID_ULKER.IS_20260204_0000_daily,2026-02-05 00:00:00.000000,2,"{""134.0"": 1799910.942857143, ""135.0"": 1799910....",...,1.0,0.68,ID_ULKER.IS_20260204_0000_daily_6mounth,None,135.973825,0.752079,0,BALANCED,0,0.251247
3,ULKER.IS,daily,1year,2025-02-05 00:00:00.000000,2026-02-04 00:00:00+03:00,139.500000,ID_ULKER.IS_20260204_0000_daily,2026-02-05 00:00:00.000000,2,"{""134.0"": 1799910.942857143, ""135.0"": 1799910....",...,1.0,0.68,ID_ULKER.IS_20260204_0000_daily_1year,None,135.973825,0.752079,0,BALANCED,0,0.251247
4,DOAS.IS,daily,1mounth,2026-01-06 00:00:00.000000,2026-01-26 00:00:00+03:00,237.600006,ID_DOAS.IS_20260126_0000_daily,2026-02-05 00:00:00.000000,9,"{""230.0"": 2193145.155641581, ""231.0"": 1165884....",...,1.0,0.68,ID_DOAS.IS_20260126_0000_daily_1mounth,None,227.458349,0.554833,1,BALANCED,0,0.199566
5,DOAS.IS,daily,3mounth,2025-11-07 00:00:00.000000,2026-01-26 00:00:00+03:00,237.600006,ID_DOAS.IS_20260126_0000_daily,2026-02-05 00:00:00.000000,9,"{""230.0"": 2193145.155641581, ""231.0"": 1165884....",...,1.0,0.68,ID_DOAS.IS_20260126_0000_daily_3mounth,None,227.458349,0.554833,1,BALANCED,0,0.199566
6,DOAS.IS,daily,6mounth,2025-08-09 00:00:00.000000,2026-01-26 00:00:00+03:00,237.600006,ID_DOAS.IS_20260126_0000_daily,2026-02-05 00:00:00.000000,9,"{""230.0"": 2193145.155641581, ""231.0"": 1165884....",...,1.0,0.68,ID_DOAS.IS_20260126_0000_daily_6mounth,None,227.458349,0.554833,1,BALANCED,0,0.199566
7,DOAS.IS,daily,1year,2025-02-05 00:00:00.000000,2026-01-26 00:00:00+03:00,237.600006,ID_DOAS.IS_20260126_0000_daily,2026-02-05 00:00:00.000000,9,"{""230.0"": 2193145.155641581, ""231.0"": 1165884....",...,1.0,0.68,ID_DOAS.IS_20260126_0000_daily_1year,None,227.458349,0.554833,1,BALANCED,0,0.199566
8,DOAS.IS,daily,2year,2024-02-06 00:00:00.000000,2024-04-17 00:00:00+03:00,313.906046,ID_DOAS.IS_20240417_0000_daily,2026-02-05 00:00:00.000000,453,"{""296.0"": 1038600.0011695907, ""297.0"": 1038600...",...,1.0,0.68,ID_DOAS.IS_20240417_0000_daily_2year,None,200.962133,0.213475,26,BALANCED,0,0.128085
9,CIMSA.IS,daily,1mounth,2026-01-06 00:00:00.000000,2026-01-28 00:00:00+03:00,53.950001,ID_CIMSA.IS_20260128_0000_daily,2026-02-05 00:00:00.000000,7,"{""50.0"": 18444991.066666666, ""51.0"": 33416658....",...,1.0,0.68,ID_CIMSA.IS_20260128_0000_daily_1mounth,None,51.915490,0.588109,1,BALANCED,0,0.152865
10,CIMSA.IS,daily,3mounth,2025-11-07 00:00:00.000000,2026-01-28 00:00:00+03:00,53.950001,ID_CIMSA.IS_20260128_0000_daily,2026-02-05 00:00:00.000000,7,"{""50.0"": 18444991.066666666, ""51.0"": 33416658....",...,1.0,0.68,ID_CIMSA.IS_20260128_0000_daily_3mounth,None,51.915490,0.588109,1,BALANCED,0,0.152865
11,CIMSA.IS,daily,6mounth,2025-08-09 00:00:00.000000,2026-01-28 00:00:00+03:00,53.950001,ID_CIMSA.IS_20260128_0000_daily,2026-02-05 00:00:00.000000,7,"{""50.0"": 18444991.066666666, ""51.0"": 33416658....",...,1.0,0.68,ID_CIMSA.IS_20260128_0000_daily_6mounth,None,51.915490,0.588109,1,BALANCED,0,0.152865
12,CIMSA.IS,daily,1year,2025-02-05 00:00:00.000000,2025-05-16 00:00:00+03:00,55.849998,ID_CIMSA.IS_20250516_0000_daily,2026-02-05 00:00:00.000000,184,"{""53.0"": 66583796.39999999, ""54.0"": 30089821.3...",...,1.0,0.68,ID_CIMSA.IS_20250516_0000_daily_1year,None,47.391810,0.606517,3,BALANCED,0,0.230577
13,CIMSA.IS,daily,2year,2024-02-06 00:00:00.000000,2025-01-28 00:00:00+03:00,56.692784,ID_CIMSA.IS_20250128_0000_daily,2026-02-05 00:00:00.000000,258,"{""53.0"": 141261045.45, ""54.0"": 73596313.666666...",...,1.0,0.68,ID_CIMSA.IS_20250128_0000_daily_2year,None,47.942254,0.424081,2,BALANCED,0,0.121115
14,ASUZU.IS,daily,1mounth,2026-01-06 00:00:00.000000,2026-02-05 00:00:00+03:00,65.949997,ID_ASUZU.IS_20260205_0000_daily,2026-02-05 00:00:00.000000,1,"{""61.0"": 487182.8333333333, ""62.0"": 487182.833...",...,1.0,0.68,ID_ASUZU.IS_20260205_0000_daily_1mounth,None,63.500000,1.000000,0,BALANCED,0,0.400000
15,ASUZU.IS,daily,3mounth,2025-11-07 00:00:00.000000,2026-02-05 00:00:00+03:00,65.949997,ID_ASUZU.IS_20260205_0000_daily,2026-02-05 00:00:00.000000,1,"{""61.0"": 487182.8333333333, ""62.0"": 487182.833...",...,1.0,0.68,ID_ASUZU.IS_20260205_0000_daily_3mounth,None,63.500000,1.000000,0,BALANCED,0,0.400000
16,ASUZU.IS,daily,6mounth,2025-08-09 00:00:00.000000,2025-08-11 00:00:00+03:00,67.250000,ID_ASUZU.IS_20250811_0000_daily,2026-02-05 00:00:00.000000,127,"{""65.0"": 5622079.623809524, ""66.0"": 4204281.70...",...,1.0,0.68,ID_ASUZU.IS_20250811_0000_daily_6mounth,None,59.446790,-0.103225,5,BALANCED,0,0.038065
17,ASUZU.IS,daily,1year,2025-02-05 00:00:00.000000,2025-08-11 00:00:00+03:00,67.250000,ID_ASUZU.IS_20250811_0000_daily,2026-02-05 00:00:00.000000,127,"{""65.0"": 5622079.623809524, ""66.0"": 4204281.70...",...,1.0,0.68,ID_ASUZU.IS_20250811_0000_daily_1year,None,59.446790,-0.103225,5,BALANCED,0,0.038065
18,ASUZU.IS,daily,2year,2024-02-06 00:00:00.000000,2024-04-30 00:00:00+03:00,118.467655,ID_ASUZU.IS_20240430_0000_daily,2026-02-05 00:00:00.000000,445,"{""109.0"": 3992781.4704545457, ""110.0"": 2830176...",...,1.0,0.68,ID_ASUZU.IS_20240430_0000_daily_2year,None,71.978992,0.153833,15,BALANCED,0,0.101823
19,ALKA.IS,daily,1mounth,2026-01-06 00:00:00.000000,2026-01-26 00:00:00+03:00,15.300000,ID_ALKA.IS_20260126_0000_daily,2026-02-05 00:00:00.000000,9,"{""14.0"": 45056526.0, ""15.0"": 27877161.0, ""16.0...",...,1.0,0.68,ID_ALKA.IS_20260126_0000_daily_1mounth,None,13.931823,-0.105703,1,BALANCED,0,-0.063422
20,ALKA.IS,daily,3mounth,2025-11-07 00:00:00.000000,2026-01-26 00:00:00+03:00,15.300000,ID_ALKA.IS_20260126_0000_daily,2026-02-05 00:00:00.000000,9,"{""14.0"": 45056526.0, ""15.0"": 27877161.0, ""16.0...",...,1.0,0.68,ID_ALKA.IS_20260126_0000_daily_3mounth,None,13.931823,-0.105703,1,BALANCED,0,-0.063422
21,ALKA.IS,daily,6mounth,2025-08-09 00:00:00.000000,2025-09-25 00:00:00+03:00,17.100000,ID_ALKA.IS_20250925_0000_daily,2026-02-05 00:00:00.000000,94,"{""14.0"": 203875843.96666667, ""15.0"": 124796775...",...,1.0,0.68,ID_ALKA.IS_20250925_0000_daily_6mounth,None,12.632923,-0.162038,1,BALANCED,0,-0.097223
22,ALKA.IS,daily,1year,2025-02-05 00:00:00.000000,2025-09-25 00:00:00+03:00,17.100000,ID_ALKA.IS_20250925_0000_daily,2026-02-05 00:00:00.000000,94,"{""14.0"": 203875843.96666667, ""15.0"": 124796775...",...,1.0,0.68,ID_ALKA.IS_20250925_0000_daily_1year,None,12.632923,-0.162038,1,BALANCED,0,-0.097223
23,ALKA.IS,daily,2year,2024-02-06 00:00:00.000000,2025-09-25 00:00:00+03:00,17.100000,ID_ALKA.IS_20250925_0000_daily,2026-02-05 00:00:00.000000,94,"{""14.0"": 203875843.96666667, ""15.0"": 124796775...",...,1.0,0.68,ID_ALKA.IS_20250925_0000_daily_2year,None,12.632923,-0.162038,1,BALANCED,0,-0.097223
24,ULKER.IS,daily,2year,2024-02-06 00:00:00.000000,2024-07-16 00:00:00+03:00,174.639227,ID_ULKER.IS_20240716_0000_daily,2026-02-05 00:00:00.000000,400,"{""168.0"": 1806455.138888889, ""169.0"": 1806455....",...,1.0,0.68,ID_ULKER.IS_20240716_0000_daily_2year,None,113.615699,0.023908,20,BALANCED,0,0.054345