In [38]:
from context_pull import fn_read_from_db,fn_write_to_db

In [50]:
df_raw_all = fn_read_from_db('raw_ticker_daily')

In [52]:
usa_first2000 = (
    df_raw_all[df_raw_all["COUNTRY"] == "Turkey"]
      .groupby("TICKER", as_index=False)["VOLUME"]
      .sum()
      .rename(columns={"VOLUME": "sum_vol"})
      .sort_values("sum_vol", ascending=False)
      .head(500)
)
usa_first2000['COUNTRY'] = "Turkey"
usa_first2000['FILTER'] = "first500_vol"

In [54]:
fn_write_to_db(usa_first2000,'turkey_first500_company','replace')

*** SAVED TO DB: turkey_first500_company | replace

In [56]:
usa_first2000

       TICKER      sum_vol COUNTRY        FILTER
236   SASA.IS  10104534634  Turkey  first500_vol
2    ADESE.IS   7198168997  Turkey  first500_vol
116  FENER.IS   6312887057  Turkey  first500_vol
132  GSRAY.IS   5748572701  Turkey  first500_vol
270  TUKAS.IS   5584265147  Turkey  first500_vol
..        ...          ...     ...           ...
72   CMENT.IS       151359  Turkey  first500_vol
161   KENT.IS       116582  Turkey  first500_vol
258     TKHVY         1286  Turkey  first500_vol
277  UMPAS.IS            0  Turkey  first500_vol
228  ROYAL.IS            0  Turkey  first500_vol

[299 rows x 4 columns]